<p id="notice"><%= notice %></p>

<%= display_tags(@project) %>
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Completion date:</b>
  <%= @project.completion_date %>
</p>

<p>
  <b>Url:</b>
  <%= @project.url %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
