<div class='row'>
  <div class='col-sm-8 col-sm-offset-2'>
    <%= simple_form_for(@post, url: posts_path) do |f| %>
      <%= f.error_notification %>
      <%= f.input :author, placeholder: "Author's name" %>
      <%= f.input :title, placeholder: "Title of article" %>
      <%= f.input :body, placeholder: "Put all of your article copy in this giant box", input_html: {rows: 8 } %>
      <%= f.input :published_at %>
      <%= f.input :featured %>
      <div class='text-center'>
        <%= f.button :submit, class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>