<p id="notice"><%= notice %></p>

<%= render 'posts/post_display', post: @post %>

<div class='comments-list'>
  <% @post.comments.each do |comment| %>
    <% unless comment.new_record? %>
      <%= render 'posts/show_comment', comment: comment %>
    <% end %>
  <% end %>
</div>
<div class='add-comment'>
  <h3> Add a comment</h3>
  <%= render 'posts/comment_form' %>
</div>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
